Package: vx-dga-l-apagado-automatico
Version: 2.0-6
Architecture: all
Maintainer: Arturo Martín <amartinromero@gmail.com>
Installed-Size: 108
Depends: migasfree-client, yad, vx-dga-l-scripts
Recommends: vx-dga-l-menu-vitalinux
Section: utils
Priority: extra
Homepage: http://wiki.vitalinux.educa.aragon.es
Description: Apagado automatico
 Configura el apagado automatico del sistema de forma diaria
